.account-container {
  display: flex;
}

.account-outer {
  flex: 1 0 0;
  min-width: 0;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
}

.account-inner {
  display: flex;
  overflow: hidden;
  gap: 8px;
}

.account-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-status {
  background-color: #FFBF00;
  width: 20px;
  height: 20px;
  border-radius: 99px;
}

.account-status.active {
  background-color: #03C04A;
}

.account-info-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-name {
  font-weight: bold;
}

.account-address {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-delete-button-container {
  flex: 0 0 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.account-delete-button {
  cursor: pointer;
}
