.accounts-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.accounts-list-row {
  display: flex;
}

.accounts-item-outer {
  flex: 1 0 0;
  min-width: 0;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
}

.accounts-item-inner {
  display: flex;
  overflow: hidden;
  gap: 8px;
}

.accounts-item-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts-item-status {
  background-color: #FFBF00;
  width: 20px;
  height: 20px;
  border-radius: 99px;
}

.accounts-item-status.active {
  background-color: #03C04A;
}

.accounts-info-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.accounts-item-name {
  font-weight: bold;
}

.accounts-item-address {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accounts-delete-button-container {
  flex: 0 0 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.accounts-delete-button {
  cursor: pointer;
}

.accounts-empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts-empty-state-text {
  font-weight: bold;
  padding: 12px;
}